

:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --header_title_text: #353430;
  --accent-color: #FF8DCB;
  --main_title_color: #FFC2E6;
  --border-color: #353430;
  --menu-button-color:#353430;
  --rec-color: #FF0070;
  --display-icon: none;
  --description-text: #353430;
  --hover-color: rgb(50, 49, 45 , 0.4);
}


@media (prefers-color-scheme: light) {
   :root {
  --bg-image: url('../images/cover-image-light.png');
  --header_title_text: #353430;
  --accent-color: #FF8DCB;
  --main_title_color: #FFC2E6;
  --border-color: #353430;
  --menu-button-color:#353430;
  --rec-color: #FF0070;
  --display-icon: none;
  --description-text: #353430;
  --hover-color: rgb(50, 49, 45 , 0.4);
}

.decorative-icon-zone {
  display: var(--display-icon);
}
}